@import url('https://fonts.googleapis.com/css2?family=Tourney&family=Zen+Tokyo+Zoo&display=swap');

*{

}
h1{
    color: white;
    display:flex;
    justify-content:center;
    font-family: 'Zen Tokyo Zoo', cursive;
}

img{
    width:20%;
    height:auto;
    margin:10px;
    border-radius:50%;
    transform: rotate(0deg);
    transition:500ms;
    box-shadow: 2px 2px;
}
img:hover{
    transform: rotate(-360deg);
    transition:500ms;
}

body{
    background-image: url("img/background.png");
    background-repeat: repeat;
    font-family: 'Tourney', cursive;
    font-size: 18px
}

div#intro{
    background-color: #fae1dd;
    border-radius: 5px;
    width: 300px;
    height: auto;
    padding: 7px;
    box-shadow: 2px 2px;
    text-align: center;
}
